* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.element::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    width: 0;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Heebo";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/heebocyrillic.ttf");
}

@font-face {
    font-family: "Caveat";
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    src: url("../fonts/Caveat.ttf");
}

.dropdown-menu {
    z-index: 4;
}

.img__text {
    font-family: "Caveat", sans-serif;
    z-index: 0;
    position: absolute;
    font-size: 48px;
    margin-top: 117px;
    margin-left: 41px;
    color: white;
    -webkit-text-stroke: 2px #69755F;
    text-stroke: 2px #69755F;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.container__header {
    left: 0;
    right: 0;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    height: 6%;
    z-index: 1;
}

.header_img {
    width: 38px;
    height: 38px;
}

#select_home {
    font-family: "Heebo", sans-serif;
}

#idHeaderMenu {
    font-size: 18px;
}

.dropdown-menu {
    background-color: #69755F;
}

.header__select_item {
    list-style-type: none;
}

.select_img {
    width: 18px;
    height: 16px;
}

.dropdown-item {
    background-color: #69755F;
    color: white;
    font-family: "Heebo", sans-serif;
}

.dropdown-item:hover {
    background-color: #2D4048;
    color: white;
}

.input_search {
    box-sizing: border-box;
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    height: 23px;
    width: 141px;
    color: white;
    background-color: transparent;
}

.input_search:active {
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;
}

input {
    outline: none;
}

select {
    outline: none;
}

input::placeholder {
    color: white;
    font-size: 18px;
}

.visually_img {
    width: 43px;
    height: 43px;
}

.search_img {
    width: 25px;
    height: 25px;
}

.profile_img {
    width: 47px;
    height: 47px;

}

.header__search, .header__profile, .header__visually {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
}

.header__menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.visually, .profile, .logo, .select_menu {
    border: medium none;
    float: left;
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.select_menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url("../img/arrowMenu.png") no-repeat right center;
    outline: 0;
}

.select_menu {
    color: white;
    width: 100px;
}

option {
    width: 300px;
}

option {
    background-color: #69755F;
}

option:active, option:hover {
    background-color: #2D4048;
}

.visually_text {
    color: white;
    height: 15px;
    font-size: 18px;
}

.main {
    height: 100%;
}

.main_container {
    margin: 0 auto;
    height: 100%;
}

.main__blocks {
    height: 90%;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
}

.main__block_item {
    scroll-snap-align: center;
}

.main__block_one, .main__block_two, .main__block_three, .main__block_four {
    height: 25%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main__block_one {
    margin: 40px auto 0px;
    background-color: #69755F;
    justify-content: space-between;
}

.main__block_two {
    flex-direction: column;
    background-color: #6C584F;
}

.main__block_three {
    align-items: center;
    background-color: #2D4048;
    padding-top: 25px;
    padding-bottom: 25px;
}

.icon {
    width: 40px;
    height: 40px;
}

.main__block_four {
    padding-top: 80px;
    flex-direction: column;
    background-color: #949156;
    align-items: center;
}

.block_one_img {
    width: 55%;
}

.child_img {
    width: 103.5%;
}

.block_one_textcontent {
    margin-top: 80px;
    width: 35%;
    height: 823px;
    margin-right: 5%;
}

.title_block, .title_block_two {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Ubuntu', sans-serif;
}

.text_block, .text_block_two, .text_block_three, .block_text_four {
    font-family: "Heebo", sans-serif;
    color: #FFF;
    text-align: justify;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.1%;
}

.text_block {
    margin-top: 40px;
}

.block__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mother_img {
    width: 100%;
    height: 40%;
}

.title_nav {
    color: white;
}


.dropdown-toggle, .dropdown-toggle:active {
    color: white;
}

.block_two_textcontent {
    margin: 20px auto;
    width: 1303px;
}

.text_block_two {
    height: 360.335px;
}

.text_block_three {
    margin-top: 40px;
}

.block_three_textcontent {
    width: 765px;
    height: 966.58px;
}

.block_three_img {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 20px;
}

.three_img {
    width: 470px;
    height: 282.94px;
}

.item3 {
    align-self: start;
}

.item2 {
    align-self: center;
}

.item1 {
    align-self: end;
}

.footer__container {
    width: 100%;
    height: 8%;
}

.siderImg {
    width: 979px;
    height: 538px;
}

.block_text_four {
    margin-top: 20px;
    width: 1487px;
    height: 327px;
}

.carousel {
    width: 979px;
    height: 538px;
    z-index: 0;
}

.footer__container {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    left: 0;
    position: absolute;
    right: 0;
}

.footer__content {
    height: 18px;
}

.footer_text {
    margin-left: 20px;
    color: #000;
    text-align: justify;
    font-family: "Ubunty", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon-heart {
    width: 20px;
    height: 20px;
}


.VersionOfVisuallyTitle{
    font-size: 50px;
    background-color: black;
}
.VersionOfVisuallyText{
    font-size: 25px;
    background-color: black;
}
.VersionOfVisuallyTextTwo{
    margin: 86px auto;
    width: 1123px;
    height: 823px;
    font-size: 30px;
}
.VersionOfVisuallyTextThree{
    font-size: 30px;
    background-color: black;
    height: 995px;
}
.VersionOfVisuallyTextFour{
    font-size: 30px;
    background-color: black;
    width: 1249px;
}
.VersionOfVisuallyTextThreeBlock{
    font-size: 30px;
    background-color: black;
    height: 995px;
    padding-top: 350px;
}
.visuallytextmode{
    background-color: black;
    font-size: 25px;
    color: white;
}
.displayNone{
    display: none;
}


.input_search:active{
    border: 1px solid white;
    color: white;
}

.input_search:focus{
    border: 1px solid white;
    color: white;
    width: 170px;
}
